@model Libreria.Models.data.Proveedor

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Nuevo Proveedor</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" action="/Libreria/Proveedor/Agregar" method="post">
        <!--Nombre-->
        <div class="form-group">
          <label for="txtNombre" class="col-sm-3 control-label">Nombre:</label>
          <div class="col-sm-9">
            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" required />
          </div>
        </div>
        <!--NIT-->
        <div class="form-group">
          <label for="txtNit" class="col-sm-3 control-label">NIT:</label>
          <div class="col-sm-9">
            <input type="number" id="txtNit" name="txtNit" class="form-control" placeholder="NIT" required />
          </div>
        </div>
        <!--Telefonos-->
        <div class="form-group">
          <label for="txtTelefonos" class="col-sm-3 control-label">Telefono:</label>
          <div class="col-sm-9">
            <input type="text" id="txtTelefonos" name="txtTelefonos" class="form-control" placeholder="Telefonos" />
          </div>
        </div>
        <!--Contacto-->
        <div class="form-group">
          <label for="txtContacto" class="col-sm-3 control-label">Contacto:</label>
          <div class="col-sm-9">
            <input type="text" id="txtContacto" name="txtContacto" class="form-control" placeholder="Contacto" />
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>

  </div>
</div>