@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <div class="header-area">
            <h1 class="title">Sobre de Nosotros</h1>
        </div>
    </div>
</div>

<!--Sobre Nosotros-->
<div class="row">
    <div class="col-md-12">
        <div class="title-medium">
            <h2>Nosotros Somos</h2>
            <p>
                "La Librería Elf inició sus actividades en el barrio de Irpavi de la zona sur de la ciudad de La Paz.  El nombre de la firma fue formado con las iniciales de los nombres de los socios fundadores, Elena Herrera, Lorena Herrera y Fernando Herrera.
                La principal actividad de la Librería Elf, es la comercialización de material de oficina, escolar y de dibujo técnico. Inicialmente la empresa representaba a las firmas Nestler Graphics (Alemania), Christian Eisen (Alemania), Helix Ltd. (Inglaterra), y Tipp-Ex (Alemania) y se distribuían productos de otras empresas como ser Staedtler Mars (Alemania) y Schmidt (Alemania). Posteriormente se ampliaron las importaciones para incluir otras marcas".
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="about-left">
            <img src="~/Content/img/nostrosL.jpg" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="about-right">
            <ul>
                <li>
                    <h3>Nuestra Misión</h3>
                    <p>Comercializar material de oficina, escolar y de dibujo técnico.</p>
                </li>
                <li>
                    <h3>Nuestra Visión</h3>
                    <p>Contribuir al desarrollo del País con nuestra calidad de atención al cliente.</p>
                </li>
                <li>
                    <h3>Nuestros Valores</h3>
                    <p>Responsabilidad, honestidad y respeto.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<br />