<form class="form-horizontal" method="post">
  <!--Nombres-->
  <div class="form-group">
    <label for="txtNombres" class="control-label">Nombres:</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="txtNombres" placeholder="Nombres" />
    </div>
  </div>
  <!--Apellidos-->
  <div class="form-group">
    <label for="txtApellidos" class="control-label">Apellidos:</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="txtApellidos" placeholder="Nombres" />
    </div>
  </div>
  <!--CI/NIT-->



</form>
