
@{
  ViewBag.Title = "Gracias";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gracias por realizar el pedido</h2>

<div class="alert alert-success" role="alert">
  <p>
    Su pedido fue registrado, todos los productos seran reservados en la tienda.
  </p>
</div>


<div class="modal-footer">
  <button type="submit" class="btn btn-primary">Registrar Pedido</button>
</div>

